extends ../layouts/application.pug

block header
  = t('views.users.new.signUp')

block content
  .row.justify-content-center
          .col-12.col-md-8
            .card.shadow-sm
              .card-body.row.p-5
                .col-12.col-md-6.d-flex.align-items-center.justify-content-center
                  img.rounded-circle(src=assetPath("pic.jpg"))
                .col-12.col-md-6.mt-3.mt-mb-0
                  +formFor()(action=route('users') method='post')
                    +input(user, 'firstName', t('views.users.first_name'), errors)(type="text")
                    +input(user, 'lastName', t('views.users.last_name'), errors)(type="text")
                    +input(user, 'email', t('views.users.email'), errors)(type="text")
                    +input(user, 'password', t('views.users.password'), errors)(type="password")
                    +submit(user)(value=t('views.users.new.submit'))
